
body {
    background-color:lightblue;
}
h1 {
    text-align: center;
    color:midnightblue;
}
h2 {
    text-align: center;
    color:midnightblue;
}
p
 {color:black;
}
li {color:black;
}
h3 {color:midnightblue;
}
h1 {border-style: double; 
    border-color:midnightblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {color: midnightblue;
}